<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mark Sheet</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            min-width: 400px;
            box-shadow: 0 0 20px gray;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

    </style>
</head>
<body>
<div align="center"  th:if="${ not#lists.isEmpty(students)}">

    <h2>View Student' OOP Marks</h2>
    <table class="styled-table">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>CA</th>
            <th>Practical</th>
            <th>Theory</th>
            <th>Final</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.Name}"></td>
            <td th:text="${student.CA}"></td>
            <td th:text="${student.practical}"></td>
            <td th:text="${student.Theory}"></td>
            <td th:text="${student.finalMarks}"></td>
        </tr>
    </table>
</div>
</body>
</html>